.MainComponent{
    padding-right: 0!important;
    padding-left: 0!important;
    
    &-header{
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        min-height: 70px;
        background-color: white;
        &-avatar{
            text-align: right;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid #337ab7;
            }
            ul{
                right: 0!important;
                left: unset!important;
                min-width: unset!important;
            }
        }
    }
    &-top{
        table{
            thead{
                tr{
                    font-size: 12px;
                    th{
                        border-bottom: 2px solid #337ab7!important;
                    }
                }
                @media only screen and (max-width: 445px) {
                    tr{
                        font-size: 10px;
                    }
                }
            }      
        }
        
    }
    &-bottom{
        padding-bottom: 20px;
    }
    &-frame{
        margin-bottom: 20px;
        border-color: #337ab7;
        border-radius: 7px;
        background-color: white;
        border: solid 1px;
        p{
            color: #337ab7;
            font-weight: 700;
        }
    }
    .mumberLeave{
        padding-top: 5px;
        color: #ff8600;
        font-size: 16px;
        font-weight: 700;
    }
    .erro{
        color: #ff5600;
        font-size: 10px;
    }
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
    overflow: hidden
}
.wrapUserInfo{
    display: inline-grid;
    transform: translateY(-10%);
    &-aloha{
        width: 80px;
        text-align: center;
        font-weight: 700;
    }
    &-userInfo{
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    @media only screen and (max-width: 330px) {
        display: none;
    }
}